langchain==0.0.340
torch
accelerate
appdirs
loralib
transformers
sentencepiece
py7zr
scipy
optimum
tensorflow
bitsandbytes==0.41.3.post2
faiss-gpu
llama-cpp-python
llama_index
InstructorEmbedding
einops==0.6.1
xformers==0.0.20
numexpr
